@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.square{
    text-align: center;
    padding: 20% 0%;
}
.square h2 {
    font-size: 50px;
}
.square p {
    font-size: 40px;
}